@import '../variables.scss';

@-webkit-keyframes blink {
	0% {
		color: rgba(0, 0, 0, 0.15);
	}
	50% {
		color: rgba(0, 0, 0, 0.01);
	}
	100% {
		color: rgba(0, 0, 0, 0.15);
	}
}

@keyframes blink {
	0% {
		color: rgba(0, 0, 0, 0.50);
	}
	50% {
		color: rgba(0, 0, 0, 0.20);
	}
	100% {
		color: rgba(0, 0, 0, 0.50);
	}
}

.root {
	background: #fff;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
	min-height: $header-height;
	overflow: hidden;
	width: 100%;

	.details {
		display: inline;
		float: left;
		margin-left: 1.5em;
		width: 50%;

		h2 {
			color: #555;
			font-weight: 500;
			margin: 0.6em 0 -0.2em 0;
		}

		h4 {
			color: #777;
			font-weight: 400;
			margin: -0.4em 0 0 0;
		}
	}

	.build {
		display: inline;
		float: right;
		margin: 0.6em 1.5em 0 0;
		text-align: right;
		width: 33%;

		h3 {
			color: #555;
			font-weight: 500;
			margin: 0.6em 0 -0.2em 0;

			div {
				display: inline;
				margin-right: 0.3em;

				&.done {
					color: #7CB342;
				}

				&.pending {
					-webkit-animation-direction: normal;
					-webkit-animation-duration: 2s;
					-webkit-animation-iteration-count: infinite;
					-webkit-animation-name: blink;
					-webkit-animation-timing-function: ease;
					animation-direction: normal;
					animation-duration: 2s;
					animation-iteration-count: infinite;
					animation-name: blink;
					animation-timing-function: ease;
				}
			}
		}

		h5 {
			color: #777;
			font-weight: 400;
			margin: -0.4em 0 0 0;
		}
	}

	.loader {
		display: inline;
		float: right;
		margin: 1.2em;
	}
}
