@import '../variables.scss';

$icon-size: 40px;

.root {
	height: $header-height;
	text-align: center;
	vertical-align: middle;
	width: $header-height;

	&:hover {
		background: #FF5252;
		cursor: pointer;

		.icon {
			opacity: 0.8;
		}
	}

	.icon {
		background-image: url('./icon-build.svg');
		background-size: $icon-size;
		display: inline;
		float: left;
		height: $icon-size;
		margin: 20px;
		opacity: 0.5;
		width: $icon-size;
	}
}
