@import '../variables.scss';

.root {
	background: #fff;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
	display: inline;
	float: left;
	margin: 1em;
	padding: 2em;
	width: calc(100% - 6em);

	h3 {
		color: #555;
		margin: 0 0 0.8em 0;
	}
	table {
		width: 100%;

		tr {
			td {
				font-size: 1.2em;
				line-height: 1.6em;
				padding: 0.3em 0.5em;

				&.status {
					font-size: 1.6em;
					line-height: 1em;
					width: 1%;
				}

				&.date {
					color: #777;
					text-align: right;
				}
			}

			&:hover {
				background: #eee;
				cursor: pointer;
			}
		}

	}
}
