@import '../variables.scss';

.root {
	background: #fff;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
	min-height: $header-height;
	overflow: hidden;
	width: 100%;

	.details {
		display: inline;
		float: left;
		margin-left: 1.5em;
		width: 50%;

		h2 {
			color: #555;
			font-weight: 500;
			margin: 0.6em 0 -0.2em 0;
		}

		h4 {
			color: #777;
			font-weight: 400;
			margin: -0.4em 0 0 0;
		}
	}

	.build {
		display: inline;
		float: right;
		margin: 0.6em 1.5em 0 0;
		text-align: right;
		width: 33%;

		h3 {
			color: #555;
			font-weight: 500;
			margin: 0.6em 0 -0.2em 0;

			.status {
				display: inline;
				margin-right: 0.3em;
			}
		}

		h5 {
			color: #777;
			font-weight: 400;
			margin: -0.4em 0 0 0;
		}
	}

	.icon {
		display: inline;
		float: right;
		height: $header-height;
		width: $header-height;

		.loader {
			display: inline;
			float: right;
			margin: 23px;
		}

		.refresh {
			display: inline;
			float: right;
		}

		.run {
			display: inline;
			float: right;
		}
	}
}
